@font-face {
  font-family: Norse Bold;
  src: url(./Norse-Bold.otf);
}

:root {
  --color-white: #ffffff;
  --odin-font: Norse Bold, sans-serif;
  --primary-font: Noto Sans, sans-serif;
  font-family: var(--primary-font);
}

.body-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.bg-image {
  height: 100%;
  background: url("./bg.avif") no-repeat;
  background-size: 100% 100%;
  flex-basis: 40%;
  color: var(--color-white);
  position: relative;
}

.logo-bg {
  position: absolute;
  top: 150px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 50%);
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}

.logo-bg img {
  height: 100px;
}
.logo-bg h1 {
  font-family: var(--odin-font);
  font-weight: 300;
  font-size: 5em;
}

.bg-image footer a,
.bg-image footer {
  color: var(--color-white);
  font-family: var(--primary-font);
}

.bg-image footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

.bg-image p {
  text-align: center;
  font-size: 0.75em;
}

.main {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  font-weight: 400;
  margin: 0 0 25px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputs {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 5px 10px 0px #aaaaaa;
  color: #404040;
}
.inputs h3 {
  font-size: 1.5em;
  font-weight: 600;
}

.inputs p label {
  font-weight: 600;
}

.button,
.login,
.header {
  padding: 0 50px;
}

.inputs div {
  display: flex;
  gap: 75px;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
}

input:focus {
  box-shadow: 5px 5px 5px 0px #aaaaaa;
}

.pass-group input:user-invalid {
  border: 2px solid red;
}

.inputs div p {
  display: flex;
  flex-direction: column;
}

.button button {
  font-weight: 600;
  padding: 10px 50px;
  background-color: #596d48;
  box-shadow: 2px 2px 5px 0px #aaaaaa;
  color: white;
  border-radius: 5px;
  border: 0;
}

.login a {
  font-weight: 600;
  color: #596d48;
  text-decoration: none;
}
